# ARCH
BR2_riscv=y
BR2_RISCV_32=y

# ISE
BR2_riscv_custom=y
BR2_RISCV_ISA_RVM=y
BR2_RISCV_ISA_RVA=y
BR2_RISCV_ISA_RVC=y
BR2_RISCV_ABI_ILP32=y

# OPENSBI (disabled)
##BR2_TARGET_OPENSBI=y
##BR2_TARGET_OPENSBI_CUSTOM_VERSION=y
##BR2_TARGET_OPENSBI_CUSTOM_VERSION_VALUE="1.7"
##BR2_TARGET_OPENSBI_PLAT="generic"
##BR2_TARGET_OPENSBI_ADDITIONAL_VARIABLES="FW_OPTIONS=0 FW_TEXT_START=0x80000000"
##BR2_TARGET_OPENSBI_UBOOT_PAYLOAD=y
##BR2_TARGET_OPENSBI_FW_FDT_PATH=y

# KERNEL
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_6=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_IMAGEGZ=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,johnathan-convertino-afrl,linux,57231cc95352ce4349641bd40959ebd77ea2a93f)/afrl_ad_master.tar.gz"
BR2_LINUX_KERNEL_DEFCONFIG="veronica"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="veronica/afrl_kc705_veronica"
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y

# UBOOT (disabled)
##BR2_TARGET_UBOOT=y
##BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
##BR2_TARGET_UBOOT_CUSTOM_TARBALL=y
##BR2_TARGET_UBOOT_CUSTOM_TARBALL_LOCATION="$(call github,johnathan-convertino-afrl,u-boot-veronica,a657130b20a8bfeaaf9954e1426b54aa2fc7a127)/afrl_uboot_master.tar.gz"
##BR2_TARGET_UBOOT_BOARD_DEFCONFIG="afrl_veronica"
##BR2_TARGET_UBOOT_NEEDS_DTC=y
##BR2_TARGET_UBOOT_NEEDS_OPENSSL=n
##BR2_TARGET_UBOOT_NEEDS_GNUTLS=n
##BR2_TARGET_UBOOT_FORMAT_IMG=y

# ROOTFS
BR2_ROOTFS_POST_SCRIPT_ARGS="ttyUL0,115200"
BR2_TARGET_GENERIC_HOSTNAME="lancelot"
BR2_TARGET_GENERIC_ISSUE="Welcome to AFRL Veronica RISCV Linux"
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_TARGET_ROOTFS_CPIO_UIMAGE=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_PACKAGE_INPUT_EVENT_DAEMON=y
BR2_PACKAGE_ZLIB=y
BR2_PACKAGE_POLL_SYSFS=y
BR2_ROOTFS_OVERLAY="board/veronica_base/afrl/all/rootfs_overlay_no_eth0"
BR2_ROOTFS_USERS_TABLES="board/veronica_base/afrl/all/users.txt"
BR2_TARGET_ROOTFS_EXT2_SIZE="512M"
BR2_TARGET_ENABLE_ROOT_LOGIN=y
BR2_TARGET_GENERIC_ROOT_PASSWD="afrl"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/veronica_base/afrl/all/post-build.sh"
BR2_PACKAGE_FRU_TOOLS=y
BR2_PACKAGE_NANO=y
#BR2_PACKAGE_OPENSSH=y
